@use 'sass:color';

// Variables
$primary: #4354b5;
$background: #121212;
$secondary: #1f2532;
$primaryText: #e0e0e0;
$primaryAccent: #3f5cb8;
$primaryAccentBorder: #313a49;
$inputFieldBackground: #1d2639;
$secondaryText: #a0a0a0;
$secondaryAccent: #a6a6a6;
$secondaryAccentBorder: #c1c1c1;
$deleteColor: #e53935;

// General Styles
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: $background;
}

h2 {
  color: $primaryText;
}

// Components
.splitForm {
  border: 1px solid $primaryAccentBorder;
  background-color: $secondary;
  color: $primaryText;
  max-width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  border-radius: 10px;

  input {
    //color-scheme: dark;
    color: $primaryText;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .addEntry {
    width: 100px;
    margin-left: 10px;
    font-size: 0.8em;
    padding: 1px;
    height: 20px;
  }
}

.divideReceipts {
  display: flex;
  justify-content: center;
}

.line {
  border: none;
  border-top: 1px solid $primaryText;
  margin: 10px 0;
}

.overallReceipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .receipt {
    background-color: $secondaryAccent;
    color: $secondary;
    border: 1px solid $primaryAccentBorder;
  }
  .line {
    border-top: 1px solid $primaryAccentBorder;
  }
}

.allReceipts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  color: $primaryText;

  .receipt {
    border: 1px solid $secondaryAccentBorder;
  }
}

.allPastReceipts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  color: $primaryText;
}

.receipt {
  width: 300px;
  margin: 20px;
  border: 1px solid $primaryAccentBorder;
  background-color: $secondary;
  padding: 20px;

  .receipt-header {
    text-align: center;
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }
  }

  .item-row,
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .item-name,
    .summary-name {
      width: 40%;
      text-align: left;
      overflow: hidden;
    }

    .item-quantity {
      width: 15%;
      text-align: left;
      overflow: hidden;
    }

    .item-price {
      width: 20%;
      text-align: right;
      overflow: hidden;
    }

    .item-amount {
      width: 25%;
      text-align: right;
      overflow: hidden;
    }

    .summary-price {
      width: 60%;
      text-align: right;
      overflow: hidden;
    }
  }
}

.intro {
  border: 1px solid $primaryAccentBorder;
  background-color: $secondary;
  color: $primaryText;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  text-align: center;
  border-radius: 10px;

  p {
    font-size: large;
  }
}

label {
  font-weight: bold;
}

// button {
//   width: 100px;
//   font-size: 1em;
//   margin-bottom: 10px;
//   background-color: $primaryAccent;
//   color: $primaryText;
//   border: 1px solid $primaryAccentBorder;
//   border-radius: 3px;
// }

.submit {
  width: 150px;
  height: 30px;
}

.review {
  margin: auto;
  margin-top: 10px;
  color: $primaryText;
  height: 25px;
  width: 100px;
  border-radius: 5px;
}

.delete {
  background-color: $secondaryAccent;
  color: $secondary;
  border: 1px solid $secondaryAccentBorder;
}
