@use 'sass:color';

// Variables
$primary: #2c387e;
$background: #121212;
$secondary: #1f2532;
$primaryText: #e0e0e0;
$primaryAccent: #3f5cb8;
$primaryAccentBorder: #2e3a68;
$inputFieldBackground: #1d2639;
$secondaryText: #a0a0a0;
$secondaryAccent: #d1d1d1;
$secondaryAccentBorder: #c1c1c1;

// General Styles
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: $background;

  h2 {
    color: $primaryText;
  }
}

// Components
.splitForm {
  border: 1px solid $primaryAccentBorder;
  background-color: $secondary;
  color: $primaryText;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  border-radius: 10px;

  .form-group {
    margin-top: 20px;
  }

  input {
    color-scheme: dark;
    margin-left: 10px;
    background-color: $inputFieldBackground;
    color: $primaryText;
    border: 1px solid $primaryAccentBorder;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .removeEntry {
    width: 80px;
    margin-left: 10px;
    background-color: $secondaryAccent;
    color: $primaryAccent;
    border: 1px solid $secondaryAccentBorder;
    font-size: 0.75em;
    padding: 1px;
    height: 20px;
  }

  .addEntry {
    width: 100px;
    margin-left: 10px;
    background-color: $primaryAccent;
    color: $primaryText;
    font-size: 0.8em;
    padding: 1px;
    height: 20px;
  }

  select {
    margin: 10px 0 10px 10px;
    width: 150px;
    background-color: $inputFieldBackground;
    color: $primaryText;
    border: 1px solid $primaryAccentBorder;
  }
}

.divideReceipts {
  display: flex;
}

.overallReceipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .receipt {
    background-color: $secondary;
    color: $primaryText;
    border: 1px solid $secondaryAccentBorder;
  }

  .line {
    border: none;
    border-top: 1px solid $primaryText;
    margin: 10px 0;
  }
}

.allReceipts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  color: $primaryText;

  .line {
    border: none;
    border-top: 1px solid $primaryText;
    margin: 10px 0;
  }
}

.receipt {
  width: 300px;
  margin: 20px;
  border: 1px solid $primaryAccentBorder;
  background-color: $secondary;
  padding: 20px;

  .receipt-header {
    text-align: center;
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }
  }

  .item-row,
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .item-name,
    .summary-name {
      flex: 1;
      text-align: left;
    }

    .item-quantity {
      flex-basis: 15%;
      text-align: left;
    }

    .item-price,
    .summary-price {
      flex-basis: 40%;
      text-align: right;
    }
  }
}

.intro {
  border: 1px solid $primaryAccentBorder;
  background-color: $secondary;
  color: $primaryText;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  text-align: center;
  border-radius: 10px;

  p {
    font-size: large;
  }
}

label {
  font-weight: bold;
}

button {
  width: 200px;
  font-size: 1em;
  margin-bottom: 10px;
  background-color: $primaryAccent;
  color: $primaryText;
  border: 1px solid $primaryAccentBorder;
  border-radius: 3px;
}

.submit {
  margin: auto;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
}

.review {
  margin: auto;
  margin-top: 10px;
  color: $primaryText;
  height: 25px;
  width: 100px;
  border-radius: 5px;
}

.delete {
  background-color: $secondaryAccent;
  color: $primaryAccent;
  border: 1px solid $secondaryAccentBorder;
}
