// $primaryColor: '2c387e';
$primaryColor: #2c387e;
$lightPrimaryColor: lighten($primaryColor, 60%);
$primaryBlack: rgb(28, 27, 27);
$secondaryBlack: rgb(86, 85, 85);
$lightGrey: lightgray;
$superLightGrey: whitesmoke;
$background: rgb(78, 81, 84);
$cool: rgb(183, 211, 233);

//background-color: #8BC6EC;
//background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #efeff5;
  // background-color: $background;
  // background-image: radial-gradient(white, #cad4e1);
  h2 {
    // color: $superLightGrey;
    color: $primaryBlack;
  }
}

.splitForm {
  border: 1px solid #ccc;
  background-color: $lightGrey;
  color: $primaryBlack;
  box-shadow: 2px 2px 2px 1px rgba(106, 106, 108, 0.1);
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  border-radius: 10px;

  .form-group {
    margin-top: 20px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    margin-left: 10px;
    background-color: #efeeed;
    border: 1px solid rgb(160, 160, 181);
  }

  .removeEntry {
    width: 80px;
    margin-left: 10px;
    background-color: #efeeed;
    font-size: 0.75em;
    padding: 1px;
    height: 20px;
  }

  .addEntry {
    width: 100px;
    margin-left: 10px;
    background-color: $primaryColor;
    color: $superLightGrey;
    font-size: 0.8em;
    padding: 1px;
    height: 20px;
  }

  select {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
    background-color: #efeeed;
    color: $primaryBlack;
    border: 1px solid $lightGrey;
  }
}

.overallReceipt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;

  .receipt {
    background-color: $lightGrey;
    border: 1px solid #909090;
  }
}

.divideReceipts {
  display: flex;
}

.allReceipts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.billInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.receipt {
  width: 300px;
  margin: 20px;
  border: 1px solid #d2d8f6;
  background-color: #cfd8f3;
  padding: 20px;
  // border-radius: 5px;

  .receipt-header {
    text-align: center;
    margin-bottom: 20px;
    h3 {
      margin: 0px;
    }
  }

  .item-row,
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .item-name,
  .summary-name {
    flex: 1;
    text-align: left;
  }

  .item-quantity {
    flex-basis: 15%;
    text-align: left;
  }
  .item-price,
  .summary-price {
    flex-basis: 40%;
    text-align: right;
  }
  .line {
    border: none;
    border-top: 1px solid $primaryColor;
    margin: 10px 0;
  }
}

.intro {
  border: 1px solid #ccc;
  background-color: $lightGrey;
  // background-color: #cdd2e1;
  color: #262c3d;
  box-shadow: 2px 2px 2px 1px rgba(106, 106, 108, 0.1);
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  p {
    font-size: large;
  }
}

label {
  font-weight: bold;
}

button {
  width: 200px;
  font-size: 1em;
  margin-bottom: 10px;
  background-color: $lightGrey;
  color: $primaryBlack;
  border: 1px solid $secondaryBlack;
  border-radius: 3px;
}

.submit {
  margin: auto;
  margin-bottom: 5px;
  background-color: $primaryColor;
  color: $superLightGrey;
  height: 30px;
  border-radius: 10px;
  font-weight: 500;
}

.review {
  margin: auto;
  margin-top: 10px;
  background-color: $primaryColor;
  color: #dadde5;
  height: 25px;
  width: 100px;
  border-radius: 5px;
}
